@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

html {
    overflow-x: hidden;
}

body {
    margin: unset;
    background-color: #0f1110;
    font-family: "Noto Sans TC", sans-serif;
}

@mixin mixin-pc {
    @media screen and (min-width: 868px) {
        @content;
    }
}

@mixin mixin-phone {
    @media screen and (max-width: 867px) {
        @content;
    }
}

@mixin mixin-transtion {
    @media screen and (min-width: 867px) and (max-width: 868px) {
        @content;
    }
}

@include mixin-phone {
    html {
        position: fixed;
    }
}
